<dp-datagrid
  [items]="otherUsers"
  [searchable]="true"
  [header]="true"
  [searchProps]="['Name']"
  searchPlaceholder="Search for user"
>
  <dp-datagrid-column field="name" header="Name" width="10">
  </dp-datagrid-column>
  <dp-datagrid-column header="Is admin" width="2" display="end">
    <ng-template dpDataGridColumnTemplate let-item>
      <dp-checkbox
        [checked]="item.isAdmin"
        [isDisabled]="false"
        (changed)="toggleAdmin(item, $event)"
      >
      </dp-checkbox>
    </ng-template>
  </dp-datagrid-column>
</dp-datagrid>
