# Dualog registry requires you to have NPM_TOKEN
# an environment variable. Put this in your profile:
# `export NPM_TOKEN="<TOKEN_FROM_MYGET>"`
@dualog:registry=https://www.myget.org/F/dualog/npm/
//www.myget.org/F/dualog/npm/:_authToken=08c51c80-c11e-40fe-a1e0-4fc0912998a2
//www.myget.org/F/dualog/npm/:always-auth=true
