<div [formGroup]="fgUpdateUserField">
  <dp-modal-small
    *ngIf="field; else both"
    header="Change {{ field }}"
    [openWindow]="modal"
    (confirm)="updateUser()"
    (cancel)="closeModal()"
  >
    <div class="row dp-mt-20 dp-mb-16">
      <div class="col-12">
        <dp-body-type>
          <dp-input label="{{ field }}" formControlName="value"></dp-input>
        </dp-body-type>
      </div>
    </div>
    <dp-primary-button
      label="Save"
      [disabled]="false"
      [fullWidth]="false"
      (clicked)="saveModal()"
    >
    </dp-primary-button>
  </dp-modal-small>
  <ng-template #both>
    <dp-modal-small
      header="New field"
      [openWindow]="modal"
      (confirm)="updateUser()"
      (cancel)="closeModal()"
    >
      <div class="row dp-mt-20 dp-mb-16">
        <div class="col-12">
          <dp-body-type>
            <dp-input label="Field" formControlName="field"> </dp-input>
            <dp-input label="{{ field }}" formControlName="value"> </dp-input>
          </dp-body-type>
        </div>
      </div>
      <dp-primary-button
        label="Save"
        [disabled]="false"
        [fullWidth]="false"
        (clicked)="saveModal()"
      >
      </dp-primary-button>
    </dp-modal-small>
  </ng-template>
</div>
