<div style="display: flex; flex-direction: row; justify-content: space-between">
  <div style="width: 45% !important">
    <dp-datagrid
      [items]="allMonths"
      [itemsSelected]="selectedPeriods"
      [selectable]="true"
      [searchable]="true"
      [searchProps]="['month']"
      uniqueProperty="month"
      (selected)="onSelect($event)"
      searchPlaceholder="Search for month"
    >
      <dp-datagrid-column field="month" width="12"> </dp-datagrid-column>
    </dp-datagrid>
  </div>
  <div style="width: 45% !important">
    <dp-card icon="clock" header="Total hours">
      <div *ngIf="totalWorkedHours < totalHours; else green">
        <dp-body-type style="color: red"
          >{{ totalWorkedHours }} / {{ totalHours }}</dp-body-type
        >
        <br />
        <br />
        <dp-body-type style="color: red"
          >({{ totalWorkedHours - totalHours }})</dp-body-type
        >
      </div>
      <ng-template #green>
        <dp-body-type style="color: green"
          >{{ totalWorkedHours }} / {{ totalHours }}</dp-body-type
        >
        <br />
        <br />
        <dp-body-type style="color: green"
          >({{ totalWorkedHours - totalHours }})</dp-body-type
        >
      </ng-template>
    </dp-card>
  </div>
</div>
