<dp-modal-medium header="Sign up" [openWindow]="modal" (cancel)="closeModal()">
  <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()" class="form">
    <dp-input
      class="dp-mt-8"
      label="Name"
      type="text"
      formControlName="name"
    ></dp-input>
    <dp-input class="dp-mt-8" label="Email" formControlName="email"> </dp-input>
    <dp-input
      class="dp-mt-8"
      label="Password"
      type="password"
      formControlName="password"
    >
    </dp-input>
    <dp-input
      class="dp-mt-8"
      label="Confirm Password"
      type="password"
      formControlName="confirmPassword"
    >
    </dp-input>

    <dp-dropdownlist
      class="dp-mt-8"
      [options]="options"
      optionField="position"
      label="Select item"
      formControlName="position"
      placeholder="Select your position"
    >
    </dp-dropdownlist>

    <div id="part-time">
      <dp-checkbox
        class="dp-mt-8 dp-ml-2"
        [checked]="true"
        [isDisabled]="false"
        label="Full-time"
        (changed)="onPartTime($event)"
        [indeterminate]="false"
      >
      </dp-checkbox>
      <div *ngIf="!isFullTime">
        <dp-input
          class="dp-mt-8"
          label="Part-time percentage"
          type="number"
          formControlName="partTimePercentage"
        >
        </dp-input>
      </div>
    </div>

    <dp-primary-button
      class="dp-mt-8 submit"
      label="Sign up"
      [disabled]="false"
      [fullWidth]="false"
      htmlType="submit"
    >
    </dp-primary-button>
  </form>
  <div *ngIf="error" class="dp-mt-8">
    <dp-message-box-info>{{ errorMsg }}</dp-message-box-info>
  </div>
</dp-modal-medium>
