<div class="wrapper">
  <li class="column-list">
    <div *ngFor="let day of numDaysList">
      <ul
        class="column-item"
        [ngStyle]="{
          'background-color':
            dateToString(getDateByDay(day)) === dateToString(currentDate)
              ? 'var(--dualog-purple)'
              : 'var(--dualog-nordic-light)'
        }"
      >
        <div class="column-title--wrapper">
          <dp-header2>{{ getWeekDay(day) }}</dp-header2>
          <dp-header5>{{ dateToString(getDateByDay(day)) }}</dp-header5>
        </div>
        <div *ngIf="user">
          <li class="card-list">
            <ul
              *ngFor="let hours of getHours(day)"
              class="card-item"
              (click)="onEdit(day)"
            >
              <dp-header4>{{ hours.Project }}</dp-header4>
              <dp-body-type>Hours: {{ hours.Hours }}</dp-body-type>
            </ul>
            <ul class="card-item card-item-add" (click)="onAdd(day)">
              <p>+</p>
            </ul>
          </li>
        </div>
      </ul>
    </div>
  </li>
</div>
<div *ngIf="modal">
  <app-register-hours-modal
    [date]="modalDate"
    [edit]="modalEdit"
    [(modal)]="modal"
  ></app-register-hours-modal>
</div>
