.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-gap: 1rem;
  align-items: start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.inner {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.inner.date {
  display: flex;
  justify-content: left;
}

.inner.days {
  display: flex;
  justify-content: right;
}
