<ds-grid>
  <ds-grid-row>
    <ds-grid-column>
      <div class="user-info">
        <dp-detail-type class="dp-mb-2">Name</dp-detail-type>
        <dp-icon (click)="openModal('Name')" class="edit-button" type="pen">
        </dp-icon>
      </div>
      <dp-body-type>{{ user?.Name }}</dp-body-type>
    </ds-grid-column>
    <ds-grid-column>
      <div class="user-info">
        <dp-detail-type class="dp-mb-2">Position</dp-detail-type>
        <dp-icon (click)="openModal('Position')" class="edit-button" type="pen">
        </dp-icon>
      </div>
      <dp-body-type>{{ user?.Position }}</dp-body-type>
    </ds-grid-column>
  </ds-grid-row>
  <ds-grid-row>
    <ds-grid-column>
      <div class="user-info">
        <dp-detail-type class="dp-mb-2">Email</dp-detail-type>
        <dp-icon (click)="openModal('Email')" class="edit-button" type="pen">
        </dp-icon>
      </div>
      <dp-body-type>{{ user?.Email }}</dp-body-type>
    </ds-grid-column>
    <ds-grid-column>
      <div class="user-info">
        <dp-detail-type class="dp-mb-2">Part time percentage</dp-detail-type>
        <dp-icon
        (click)="openModal('PartTimePercentage')"
          class="edit-button"
          type="pen"
        >
        </dp-icon>
      </div>
      <dp-body-type>{{ user?.PartTimePercentage }}</dp-body-type>
    </ds-grid-column>
  </ds-grid-row>
  <ds-grid-row>
    <ds-grid-column>
      <dp-tertiary-button
        label="Change password"
        [disabled]="false"
        [fullWidth]="false"
        (click)="openModal('Password')"
      >
      </dp-tertiary-button>
    </ds-grid-column>
  </ds-grid-row>
</ds-grid>
<app-edit-user-modal
  [field]="editUserField"
  [(modal)]="isModalOpen"
></app-edit-user-modal>
