.login {
  margin: auto;
  max-width: 450px;
  padding: 20px;
}

.form .submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login .signUp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
