<div class="loginBox">
  <div class="title dp-mb-8">
    <dp-header1>Tempus</dp-header1>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form">
    <dp-input
      label="Email"
      formControlName="email"
      (valueSubmitted)="onLogin()"
    >
    </dp-input>
    <dp-input
      class="dp-mt-8"
      label="Password"
      type="password"
      formControlName="password"
      (valueSubmitted)="onLogin()"
    >
    </dp-input>
    <div class="formButton dp-mt-8">
      <dp-tertiary-button
        label="Sign up"
        [disabled]="false"
        [fullWidth]="false"
        (clicked)="onSignUp()"
      >
      </dp-tertiary-button>
      <dp-primary-button
        label="Login"
        [disabled]="false"
        [fullWidth]="false"
        htmlType="submit"
      >
      </dp-primary-button>
    </div>
  </form>
  <div *ngIf="error" class="dp-mt-8">
    <dp-message-box-info>{{ errorMsg }}</dp-message-box-info>
  </div>
</div>
<div *ngIf="modal">
  <app-signup [(modal)]="modal"></app-signup>
</div>
