<dp-card header="Tempus" class="login">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form">
    <dp-input label="Email" formControlName="email"> </dp-input>
    <dp-input
      class="dp-mt-4"
      label="Password"
      type="password"
      formControlName="password"
    >
    </dp-input>
    <dp-primary-button
      class="dp-mt-8 submit"
      label="Login"
      [disabled]="false"
      [fullWidth]="false"
      htmlType="submit"
    >
    </dp-primary-button>
  </form>
  <div class="signUp">
    <dp-tertiary-button
      label="Sign up"
      [disabled]="false"
      [fullWidth]="false"
      (clicked)="onSignUp()"
    >
    </dp-tertiary-button>
  </div>
</dp-card>
<div *ngIf="modal">
  <app-signup [(modal)]="modal"></app-signup>
</div>
