<div [formGroup]="fgUpdateUserField">
  <dp-modal-small
    *ngIf="_field !== 'Password'; else changePassword"
    header="Change {{ _field }}"
    [openWindow]="modal"
    (confirm)="updateUser()"
    (cancel)="closeModal()"
  >
    <div class="row dp-mt-20 dp-mb-16">
      <div class="col-12">
        <dp-body-type>
          <dp-input
            #valueInput
            label="{{ _field }}"
            formControlName="value"
          ></dp-input>
        </dp-body-type>
      </div>
    </div>
    <dp-primary-button
      label="Save"
      [disabled]="false"
      [fullWidth]="false"
      (clicked)="saveModal()"
    >
    </dp-primary-button>
  </dp-modal-small>
</div>
<div [formGroup]="fgChangePassword">
  <ng-template #changePassword>
    <dp-modal-small
      header="Change password"
      [openWindow]="modal"
      (confirm)="updateUser()"
      (cancel)="closeModal()"
    >
      <div class="row dp-mt-20 dp-mb-16">
        <div class="col-12">
          <dp-body-type>
            <dp-input
              type="password"
              label="Password"
              formControlName="password"
            >
            </dp-input>
            <dp-input
              type="password"
              label="Confirm password"
              formControlName="confirmPassword"
            >
            </dp-input>
          </dp-body-type>
        </div>
      </div>
      <dp-primary-button
        label="Save"
        [disabled]="false"
        [fullWidth]="false"
        (clicked)="saveModal()"
      >
      </dp-primary-button>
    </dp-modal-small>
  </ng-template>
</div>
