nav {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 100%;
  width: 25%;
  max-width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--dualog-nordic-light);
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.navbar ul {
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding: 0;
}

.navbar a {
  padding: 10px 10px 10px 10%;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  text-decoration: none;
  color: var(--dualog-olive);
  background-color: var(--dualog-nordic-light);
  display: block;
  transition: 0.3s;
}

.navbar a:hover {
  background-color: var(--dualog-blue60);
  color: var(--dualog-nordic-light);
}

.navbar a.navbar_logout {
  background-color: var(--red-status-color-light);
  color: var(--dualog-olive);
  position: absolute;
  bottom: 0;
}

.navbar a.navbar_logout:hover {
  background-color: var(--red-status-color-dark);
  color: var(--dualog-nordic-light);
}
