<div class="box">
  <dp-header1 class="dp-mb-8" *ngIf="user"
    >Dashboard - {{ user?.Name }}</dp-header1
  >
  <app-project-date-selector
    [(currentDate)]="currentDate"
    [(selectedDate)]="selectedDate"
    [(numDays)]="numDays"
    (refreshUserSelector)="refreshUserChild()"
  ></app-project-date-selector>
  <div *ngIf="currentDate && selectedDate">
    <app-grid-logger
      #gridLogger
      [(currentDate)]="currentDate"
      [(selectedDate)]="selectedDate"
      [(user)]="user"
      [numDays]="numDays"
    ></app-grid-logger>
  </div>
  <app-logger-details></app-logger-details>
</div>
