<dp-modal-medium
  header="{{ registerTypeText }} Hours {{ hoursKey }}"
  [openWindow]="modal"
  (cancel)="closeModal()"
>
  <div
    class="message-box dp-mt-8"
    *ngIf="(!hoursRegisterForm.dirty && this.edit) || this.displayInfoMessage"
  >
    <dp-message-box-info>{{ infoMessage }}</dp-message-box-info>
  </div>
  <form
    [formGroup]="hoursRegisterForm"
    (ngSubmit)="onSubmit()"
    class="form dp-mt=20"
  >
    <dp-input
      class="dp-mt-8"
      label="hours"
      type="number"
      formControlName="hours"
    ></dp-input>

    <dp-autocomplete
      class="dp-mt-4"
      [options]="projectOptions"
      optionField="name"
      label="Select Project"
      formControlName="project"
      placeholder="Select Project"
    >
    </dp-autocomplete>

    <div class="formButton dp-mt-8">
      <dp-primary-button
        label="{{ registerTypeText }} Hours"
        [disabled]="
          !hoursRegisterForm.valid || (!hoursRegisterForm.dirty && this.edit)
        "
        [fullWidth]="true"
        htmlType="submit"
      >
      </dp-primary-button>
    </div>
  </form>
</dp-modal-medium>
