<dp-modal-medium
  header="Register Hours"
  [openWindow]="modal"
  (cancel)="closeModal()"
>
  <!-- TODO: Replace with input from date selector when implemented -->
  <dp-datepicker [defaultDate]="selectedDate" (selected)="updateDate($event)">
  </dp-datepicker>

  <form [formGroup]="hoursRegisterForm" (ngSubmit)="onSubmit()" class="form">
    <dp-input
      label="hours"
      type="number"
      min="0"
      max="24"
      formControlName="hours"
    ></dp-input>

    <dp-autocomplete
      [options]="projectOptions"
      optionField="name"
      label="Select Project"
      formControlName="project"
      placeholder="Select Project"
    >
    </dp-autocomplete>

    <div class="formButton dp-mt-8">
      <dp-primary-button
        class="dp-mt-8"
        label="Register"
        [disabled]="false"
        [fullWidth]="false"
        htmlType="submit"
      >
      </dp-primary-button>
    </div>
  </form>
</dp-modal-medium>

<div class="box" *ngIf="jsonString">
  {{ jsonString }}
</div>
